
.navbar {
  background-color: rgba(3, 25, 38, 0.9);
  z-index: 1;
  border-bottom: 1px solid #2D3748;
}

.navbar .navbar-brand img {
  max-width: 49px;
}

.navbar .nav-item .nav-link {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.half-n-half {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease 0s;
  background: rgba(3, 25, 38, 0.9);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  margin-inline: 10%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-inline: 5%;
}

.half-n-half .first-line,
.half-n-half .second-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

.half-n-half .group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(44, 47, 51, 0.6);
}

hr {
  border: 0;
  box-sizing: content-box;
  overflow: visible;
  margin: 0;
}

.half-n-half .group hr {
  opacity: 0.6;
  border-bottom: 1px solid #2c2f33;
  width: 100%;
  transform: rotate(360deg);
  transform-origin: left top;
}

.half-n-half .first-line .group img:last-child {
  position: absolute;
  max-width: 96px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  top: -65px;
  left: -10px;
}

.half-n-half .first-line .group img:nth-child(2) {
  position: absolute;
  max-width: 96px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  right: 10px;
}

.half-n-half .second-line .group img:last-child {
  position: absolute;
  max-width: 96px;
  -webkit-transform: rotate(15deg) scaleX(-1);
  -moz-transform: rotate(15deg) scaleX(-1);
  -ms-transform: rotate(15deg) scaleX(-1);
  transform: rotate(15deg) scaleX(-1);
  top: -65px;
  right: 0px;
}

.half-n-half .second-line .group img:nth-child(2) {
  position: absolute;
  max-width: 96px;
  -webkit-transform: rotate(-15deg) scaleX(-1);
  -moz-transform: rotate(-15deg) scaleX(-1);
  -ms-transform: rotate(-15deg) scaleX(-1);
  transform: rotate(-15deg) scaleX(-1);
  left: -10px;
}

.half-n-half .half-n-half-sect.right .content {
  padding-right: 5rem;
}

.half-n-half .half-n-half-sect.left .content {
  padding-left: 5rem;
}

.half-n-half .half-n-half-sect .content h3 {
  color: #EB5E28;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.02em;
}

.half-n-half .half-n-half-sect .content p,
.half-n-half .half-n-half-sect .content p a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.02em;
}

.half-n-half .half-n-half-sect .img-wrapper img {
  object-fit: contain;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  max-width: 350px;
  display: block;
}

.half-n-half .half-n-half-sect .img-wrapper.right img {
  margin-left: auto;
}

.half-n-half .half-n-half-sect .img-wrapper.left img {
  margin-right: auto;
}

.benefits {
  --bs-gutter-y: 3rem;
  --bs-gutter-x: 8rem;
}

.heading h2 {
  color: #EB5E28;
  font-size: 2rem;
  margin-bottom: 1em;
}

.benefits svg {
  height: 6rem;
  width: auto;
}

.benefits h4 {
  color: #EB5E28;
  font-size: 1.5rem;
  line-height: 1;
  margin: 1em 0;
}

.benefits p {
  font-size: 1rem;
  color: #fff;
}

.team {
  --bs-gutter-y: 3rem;
}

.team .team-member {
  text-decoration: none;
  text-align: center;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  display: block;
}

.team .team-member:hover {
  transform: scale(1.20);
}

.team .team-member img {
  max-width: 250px;
  margin: 0 auto;
  display: block;
  border-radius: 0.75rem;
}

.team .team-member h4 {
  margin-top: 1.5rem;
  color: #EB5E28;
  font-size: 1.25rem;
}

.team .team-member p {
  color: #fff;
  font-size: 1rem;
}

.accordion-item {
  background-color: transparent;
  border-color: #EB5E28;
}

.accordion-item .accordion-button {
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  box-shadow: none;
  font-weight: bold;
}

.accordion-item .accordion-button:focus {
  box-shadow: none;
}

.accordion-item .accordion-button::after {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjM1NzQyIDAuOTQzMzU5TDQuNzA4MDIgNC4yOTM5NkM0LjgyMTIxIDQuNDA3MTUgNS4wMDQ3NCA0LjQwNzE1IDUuMTE3OTQgNC4yOTM5Nkw4LjQ2ODUzIDAuOTQzMzU5IiBzdHJva2U9IiNFQjVFMjgiIHN0cm9rZS1vcGFjaXR5PSIwLjciIHN0cm9rZS13aWR0aD0iMS4zMzMzMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
}

.accordion-item .accordion-body {
  font-size: 1rem;
  color: #fff;
}

button[aria-label="Minimize image"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-arrow {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjM1NzQyIDAuOTQzMzU5TDQuNzA4MDIgNC4yOTM5NkM0LjgyMTIxIDQuNDA3MTUgNS4wMDQ3NCA0LjQwNzE1IDUuMTE3OTQgNC4yOTM5Nkw4LjQ2ODUzIDAuOTQzMzU5IiBzdHJva2U9IiNFQjVFMjgiIHN0cm9rZS1vcGFjaXR5PSIwLjciIHN0cm9rZS13aWR0aD0iMS4zMzMzMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  border: 2px solid #EB5E28;
  border-radius: 100%;
}

.slick-arrow.slick-prev {
  transform: rotate(90deg) translate(0,50%);
  transform-origin: center center;
}

.slick-arrow.slick-next {
  transform: rotate(-90deg) translate(0,50%);
  transform-origin: center center;
}

.slick-arrow::before {
  content: none;
}

.gallery .slick-track > div {
  padding: 0 15px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,.1));
}

.gallery .slick-track > div img {
  border-radius: 0.75rem;
  border: 1px solid #2c2f33;
}

footer .footer-wrap {
  padding: 20px 0;
  border-top: 1px solid #2D3748;
  background: rgba(3, 25, 38, 0.9);
}

footer .footer-wrap img {
  max-width: 49px;
}

footer .footer-wrap p {
  letter-spacing: 0.02em;
  font-size: 1rem;
}

footer .footer-wrap .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 15px;
}

footer .footer-wrap .navbar-nav li a {
  color: #fff;
}


